<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
  
  <test name="Test1">
  <parameter name="browser_name" value="chrome"/>
  <parameter name="platform" value="win"/>
    <classes>
      <class name="WebGridMaven.WebGridMaven.WebTest"/>  
    </classes>
  </test>
  <test name="Test2">
  <parameter name="platform" value="win"/>
  <parameter name="browser_name" value="firefox"/>
    <classes>
      <class name="WebGridMaven.WebGridMaven.WebTest"/>  
    </classes>
  </test>
   <test name="Test3">
   <parameter name="platform" value="win"/>
   <parameter name="browser_name" value="internet explorer"/>
    <classes>
      <class name="WebGridMaven.WebGridMaven.WebTest"/>  
    </classes>
  </test>
  <test name="Test4">
  <parameter name="platform" value="mac"/>
   <parameter name="browser_name" value="safari"/>
    <classes>
      <class name="WebGridMaven.WebGridMaven.WebTest"/>  
    </classes>
  </test>
   <!-- Test -->
</suite> <!-- Suite -->
